@import '../../../styles/colors';

.formModalContainer {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  transform: translateY(20);
  animation: slideOut 0.3s ease backwards;

  @keyframes slideOut {
    to {
      transform: translateY(20);
    }
  }
}

.formModalContainer.isVisible {
  display: block;
}

.formContent {
  margin: 10% auto;
  padding: 20px;
  width: 35%;
  position: relative;
  transform: translateY(-20px);
  animation: slideIn 0.3s ease forwards;

  @keyframes slideIn {
    to {
      transform: translateY(0);
    }
  }
}
.formContent span {
  position: absolute;
  right: 40px;
}

.formContent form {
  display: flex;
  font-size: 15px;
}

.formContent form label {
  margin-bottom: 10px;
}

.formContent form input,
select {
  margin-top: 5px;
  border-radius: 10px;
  padding: 3px;
  outline: 0;
  border: 1px solid black;
  transition: 300ms all ease;
}

.formContent form textarea {
  min-width: 300px;
  min-height: 150px;
  max-width: 320px;
  max-height: 170px;
  padding: 5px;
  font-family: sans-serif;
}

.formContent form .input-error {
  border: 1px solid red;
}

.error {
  margin-top: -10px;
}

.error p {
  font-size: 10px;
}

.formContent form input:focus {
  border: 1px solid $primary;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.actionButtons {
  display: flex;
  gap: 1em;
  margin-top: 20px;
}

.actionButtons button {
  padding: 6px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: 300ms all ease;
}

#cancelTask {
  background-color: $danger;
}

#cancelTask:hover {
  background-color: #f86a6a;
}

#addTask {
  background-color: $success;
}

#addTask:hover {
  background-color: #73d1b2;
}

@media (min-width: 768px) {
  .formContent {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .formModalContainer {
    width: 100%;
  }

  .formContent {
    width: 100%;
  }

  .formContent form textarea {
    min-width: 150px;
    min-height: 100px;
    max-width: 170px;
    max-height: 120px;
  }
}
